// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font
$font-title: 'Montserrat', sans-serif;
$font-body: 'Montserrat', sans-serif;;

// Colors
$main-color: #ffcd2b;
$secondary-color: #1b252d;
$gray1-color: #4d4d4d;
$gray2-color: #707070;
$gray3-color: #9b9b9a;

// Import
@import 'mobile';

// START HERE
html,
body {
  font-family: $font-body;
}

// Navbar
nav {
    background: #CB5688;
}

// Utilities
.btn-event {
  background: #cb5688;
  color: #fff;
}

.text-event {
  color: #cb5688;
}

.btn-event2 {
  background: #5ead82;
  color: #fff;
}

// Showcase
#showcase {
  h1 {
    color: #cb5688;
    // padding-top: 80px;
  }
  img {
    // margin-top: 120px;
  }
}

// Booking
#booking {
  .card-header {
    background: #5ead82;
    color: #fff;
  }
}

// About
#about {
  ul li {
    list-style: none;
  }
}

// Speakers 
#speakers {
  // background: #f5bea6;
}